<div style="display: flex; flex-wrap: wrap">
    {% for vendor in site.data.vendors %}
        <div style="margin: 1em auto; padding: 0 1rem">
            <a href="{{ vendor.url }}">
            <p>{{ vendor.name }}</p>
            </a>
        </div>
{% endfor %}
</div>